.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2176ff;
  color: #fff;
  padding: 10px;
  text-align: center;
  
  }
  
  .footer p {
    margin: 0;
  }

  a {
    color: #040404; /* Change to your desired link color */
    text-decoration: none; /* Remove underline from links */
  }