.DashNavbar {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  border-bottom: 1px solid #0000005b; 
  max-height: 60px;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-right: auto;
  pointer-events: none; 
  padding: 20px;
}

.logo {
  width: 120px;
  height: auto;
  max-height: 110px;
}

.passwordgenerator-icon {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  padding: 20px;
}

.passwordgenerator-icon:hover {
  color: #000000;
}