  
  .password-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  
  .password-titles p {
    font-weight: bold;
    color: #333;
  }
  
  .password-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .password-entry p {
    color: #555;
  }
  
  .password-entry .badge {
    margin-right: 10px;
  }
  
  .password-entry .btn {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .password-bar {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
  }
  
  .password-bar .btn {
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .password-bar .text-end {
    text-align: end;
  }
  
  .password-bar .btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
  }
  
  .password-bar .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #ffffff;
  }
  
  .password-bar .btn:hover {
    background-color: #0056b3; /* Change color on hover */
  }
  
  .password-bar .btn:active {
    transform: scale(0.95); /* Click-in animation when pressed */
  }
  