.password-generator-container {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin: 2px;
  overflow-y: auto; /* Add scrollbar if content exceeds the maximum height */
  max-height: 450px; /* Set your desired maximum height */
}

.password-generator-container p {
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.password-generator-container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.password-generator-container input[type="text"] {
  flex: 1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  outline: none;
}

.password-generator-container input[type="number"] {
  width: 50px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-generator-container input[type="checkbox"] {
  margin-right: 6px;
}

.password-generator-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-generator-container button:hover {
  background-color: #0056b3;
}

.password-generator-container button {
  margin-top: 10px; /* Adjust as needed for top margin */
  margin-bottom: 10px; /* Adjust as needed for bottom margin */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-size: 15px;
}

.password-generator-container .copy-success {
  background-color: #007bff; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px; /* Padding around the message */
  border-radius: 5px; /* Rounded corners */
  position: fixed; /* Fixed position to stay at the top */
  top: 20px; /* Distance from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it appears above other elements */
  animation: fadeOut 4s ease-in-out; /* Fade out animation over 3 seconds */
  font-size: 15px;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}