body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Password Form */
.password-form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow-y: auto; /* Add scrollbar if content exceeds the maximum height */
  max-height: 700px; /* Set your desired maximum height */
  margin: 2px;
  max-width: 320px;

}

.password-form-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

.password-form-container input,
.password-form-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.password-form-container input:focus,
.password-form-container textarea:focus {
  border-color: #007bff;
}

.password-form-container textarea {
  max-height: 150px;
  resize: vertical;
  overflow-y: auto;
}

.password-form-container button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-right: 10px; /* Add margin between buttons */
}

.password-form-container button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.password-form-container button:hover {
  background-color: #0056b3;
}

/* Password Input Container */
.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: auto;
  transition: width 0.3s ease;
  top: 15%;
  right: 25px;
}

.password-icon.shrink {
  width: 15px;
}

.url-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.url-input-container input {
  flex: 1;
  /* This allows the input to take the remaining space */
}

.button-icon {
  margin-left: 5px; /* Adjust the margin as needed to space the icon from the input */
  cursor: pointer;
  vertical-align: middle; /* Align the icon vertically with the text */
}

.field-with-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.field-with-icon-container input,
.field-with-icon-container textarea {
  flex: 1;
}

.field-icon {
  margin-left: 5px; /* Adjust the margin as needed */
  cursor: pointer;
}

.display-field {
  font-size: 1.2em; /* Adjust the font size as needed */
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
  margin-top: 5px; /* Adjust the margin-top as needed */
}

.copy-message {
  background-color: #007bff; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px; /* Padding around the message */
  border-radius: 5px; /* Rounded corners */
  position: fixed; /* Fixed position to stay at the top */
  top: 20px; /* Distance from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it appears above other elements */
  animation: fadeOut 4s ease-in-out; /* Fade out animation over 3 seconds */
  font-weight: bold;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.svg-inline--fa {
  width: 20px;
  height: 20px;
  transform: translateX(10px); 
  color: #007bff;
}

.svg-inline--fa:hover {
  color: #0056b3;
}

