

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 300px;
    height: 600px;
    width: 430px;
    padding: 20px 20px 30px;
    background: #ffffff;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 60px;
}

.text {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
}

.inputs {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 370px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
}

.input img {
    margin: 0 10px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
}

.forgot-password {
    padding-left: 0;
    margin-top: 0;
    color: #797979;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.forgot-password span {
    color: #2176ff;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.forgot-password span:hover {
    border-bottom: 2px solid #2176ff;
}

.submit-container {
    display: flex;
    gap: 0;
    margin: 20px auto;
    align-items: center;
}

.additional-text {
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
}

.submit {
    background: transparent;
    border: none;
    color: #2176ff;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 3px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
    height: 27px;
}

.submit:hover {
    border-bottom: 2px solid #2176ff;
}

.submit:active {
    transform: scale(0.95);
}

.gray {
    color: #2176ff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.continue-button {
    margin: 25px;
    padding: 8px 15px;
    background-color: #2176ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button:hover {
    background-color: #1a60d1;
}

.continue-button:active {
    transform: scale(0.97);
}

@media only screen and (max-width: 768px) {


    .container {
        width: 80%;
        height: 500px;
        margin-top: 400px;
        max-width: 330px;
    }

    .logo {
        font-size: 18px;
    }

    .header {
        margin-top: 30px;
    }

    .text {
        font-size: 24px;
    }

    .inputs {
        gap: 15px;
    }

    .input {
        width: 100%;
        height: 45px;
        max-width: 350px;
    }

    .input input {
        width: 95%;
        font-size: 14px;
    }

    .forgot-password {
        font-size: 12px;
    }

    .submit-container {
        margin: 10px auto;
    }

    .additional-text {
        font-size: 12px;
    }

    .submit, .gray {
        font-size: 12px;
        height: 25px;
    }

    .continue-button {
        margin: 15px;
        padding: 7px 12px;
        font-size: 14px;
        
        max-width: 230px;
        height: 50px;
    }
}