.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px; 
    width: 350px; 
    background: #ffffff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

.text {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
}

.redirect-login {
    margin-top: 10px;
    text-align: center;
}

.redirect-login a {
    color: #2176ff;
    text-decoration: none;
}

.redirect-login a:hover {
    text-decoration: underline;
}
  
.redirect-signup {
    margin-top: 10px;
    text-align: center;
}

.redirect-signup a {
    color: #2176ff;
    text-decoration: none;
}

.redirect-signup a:hover {
    text-decoration: underline;
}

.inputs {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 370px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #2176ff4b;
    border-radius: 6px;
}
  
.input img {
    margin: 0 10px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 14px;
}

name-label {
  margin-right: 10px;
  width: 200px;
  text-align: left;
  margin-bottom: 0px;
  color: #2176ff;
  font-size: 14px;
  font-weight: 600;
  display: block; 
}

  .forgot-password {
    text-align: center;
    margin-top: 10px;
    color: #797979;
    font-size: 14px;
    font-weight: 500;
    position: relative;
  }

  .password-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .password-toggle img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .password-toggle.hide img.show-password {
    display: none; 
  }
  
  .password-toggle.show img.hide-password {
    display: none; 
  }
  
  .input-error {
    border: 1px solid red;
  }
  
  .forgot-password span {
    color: #2176ff;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
  }
  
  .forgot-password span:hover {
    border-bottom: 2px solid #2176ff;
  }
  
  .continue-button {
    margin: 25px;
    padding: 8px 15px;
    background-color: #2176ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button:hover {
    background-color: #1a60d1;
}

.continue-button:active {
    transform: scale(0.97);
}

.error-box {
  color: #fff;
  background-color: #ff7070; 
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 8px;
}

.error-box {
  animation: fadeIn 0.3s ease-in-out;
}

.error-message {
  color: #fff;
  background-color: #ff7070; 
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 8px; 
}

.error-message {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.email-error {
  border: 1px solid #ff0000; 
  outline: none; 
  box-shadow: 0 0 5px #ff0000; 
}

