.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px; 
    width: 450px; 
    background: #ffffff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #747775;
  }
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

.text {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
}

.redirect-login {
    margin-top: 60px;
    text-align: center;
}

.redirect-login a {
    color: #2176ff;
    text-decoration: none;
}

.redirect-login a:hover {
    text-decoration: underline;
}
  
.redirect-signup {
    margin-top: 60px;
    text-align: center;
}

.redirect-signup a {
    color: #2176ff;
    text-decoration: none;
}

.redirect-signup a:hover {
    text-decoration: underline;
}

.inputs {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 370px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #2176ff4b;
    border-radius: 4px;
}
  
.input img {
    margin: 0 10px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 14px;
}

name-label {
  margin-right: 10px;
  width: 200px;
  text-align: left;
  margin-bottom: 0px;
  color: #156bf4;
  font-size: 14px;
  font-weight: 600;
  display: block; 
  margin-top: 20px;
}

  .forgot-password {
    text-align: center;
    margin-top: 10px;
    color: #797979;
    font-size: 14px;
    font-weight: 500;
    position: relative;
  }

  .password-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .password-toggle img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .password-toggle.hide img.show-password {
    display: none; 
  }
  
  .password-toggle.show img.hide-password {
    display: none; 
  }
  
  .input-error {
    border: 1px solid red;
  }
  
  .forgot-password span {
    color: #2176ff;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
  }
  
  .forgot-password span:hover {
    border-bottom: 2px solid #2176ff;
  }
  
  .continue-button {
    margin: 25px;
    padding: 8px 15px;
    background-color: #2176ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 370px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #747775;
}

.continue-button:hover {
    background-color: #1a60d1;
}

.continue-button:active {
    transform: scale(0.97);
}

.error-box {
  color: #fff;
  background-color: #ff7070; 
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 8px;
}

.error-box {
  animation: fadeIn 0.3s ease-in-out;
}

.error-message {
  color: #fff;
  background-color: #ff7070; 
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 8px; 
}

.error-message {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.email-error {
  border: 1px solid #ff0000; 
  outline: none; 
  box-shadow: 0 0 5px #ff0000; 
}


/* Google Sign In Button */
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  height: 50px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 98px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

.signin-options-text {
  text-align: center;
  font-size: 14px;
  color: #000000; /* Adjust the color as needed */
  margin: 10px 10px; /* Adjust the margin as needed */
  position: relative;
  font-weight: bold; /* Add font weight to make the text bold */
}

.signin-options-text::before,
.signin-options-text::after {
  content: '';
  display: inline-block;
  width: 163px; /* Adjust the width of the lines */
  border-top: 1px solid #00000070; /* Adjust the color as needed */
  margin: 0 10px; /* Adjust the distance between the text and lines */
}
