#presentation-text {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.centered-text p {
  font-size: 1rem;
  margin: 10px 0;
}

#presentation {
  background-size: cover;
  background-position: center;
  background-image: url('../../Assets/images/home/preview.png');
  background-repeat: no-repeat; /* Ensure the background image is not repeated */
  height: 300px; /* Set a default height for larger screens */

  /* Mobile support */
  @media (max-width: 768px) {
    #presentation {
      height: 200px; /* Adjust height for smaller screens */
    }
  }
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  #presentation {
    height: 200px; /* Adjust height for smaller screens */
  }

  .centered-text p {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}
